main {
    min-height: 70vh;
}

header {
    background-color: rgba(33, 196, 33, 0.2);
}

.justify {
    text-align: justify;
}

footer {
    height: 40px;
    background-color: #21c421;
    border-bottom: 0px;
}