body {
    font-family: 'EB Garamond', serif;
}
main {
    min-height: 70vh;
}

header {
    background-color: rgba(33, 196, 33, 0.2);
}

.justify {
    text-align: justify;
}

footer {
    height: 40px;
    background-color: rgba(33, 196, 33, 0.2);
    border-bottom: 0px;
}